<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<th:block th:fragment="footer">
	
    	<footer class="page-footer font-small blue">
	        <!-- Copyright -->
	        <div class="footer-copyright text-center py-3">
	            <div class="container">
	                © 2020 Copyright:
	                <a href="#">Benagui Consulting SAC</a>
	            </div>
	        </div>
	    </footer>
</th:block>
</body>