<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="initial-scale=1">
</head>

<body>
<th:block th:fragment="menu">
    <div>
        <div id="menu">
        	<div class="menu_bar  navbar-light">
			   <button class="navbar-toggler" type="button" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03">
	            	<span class="navbar-toggler-icon" style="border-radius:3px;"></span>
	           </button>
	           <a class="navbar-brand" style="color:#fff" href="#">Kahaxi</a>	            
			</div>
								
            <nav  id="navbarTogglerDemo03" class ="contenedor_menu" >
               <ul class="menu" id="Opcion0">

          	   </ul>
            </nav>
		              
	    </div>
    </div>
    
    
</th:block>
</body>
