<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script th:src="@{/js/maestros/gui-mantenimiento-articulos.js}" ></script>
</head>

<body>

	<div layout:fragment="content" th:remove="tag">
				
		<!-- Modal NUEVO/EDITAR se quita el tabindex=-1 para que funcione el autofocus -->
        <div class="modal fade bd-example-modal-lg" id="articuloModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-lg box bg-box modal-content" role="document" > 
             	<div class="box-body">
	                <div class="card">
	
						<label id="codigoArticulo" hidden="hidden"></label>
						
	                    <div class="modal-header card-header">
	                        <h6 class="modal-title" id="exampleModalLabel"><span id="titulo"></span> Art&iacute;culo</h6>
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                            <span aria-hidden="true" style="color:#5990e0">&times;</span>
	                        </button>
	                    </div>	
						
						<div class=" box-body">
	                        <form id="form_validado_articulo" class="needs-validation" novalidate enctype="multipart/form-data">
	                        <!--  <fieldset id="datosBuscador" class=" border-class" style="padding: 20px 20px 0px 20px; margin-top: 0px; margin-bottom: 0px; border-bottom-width: 1px;"> -->
	                        <div class="row box-body">
	                        
		                        <div class="col-sm-9">		                        
		                        	<div class="row">
		                            	<div class="col-sm-4">
					                        	<label id="lblCodigoEst" class="label" for="codigoModal">C&oacute;d. Est&aacute;ndar:</label>
												<input id="codigoEstandarModal" type="text" class="form-control" required="required" maxlength="50">
					                            <div class="invalid-feedback">
					                               	Ingrese un código estándar válido.
					                            </div>                
						                </div>           
			                    			                    	
			                    		<div class="col-sm-4">
					                    	<label id="lblCodigoAnt" class="label" for="codigoModal">C&oacute;d. Antiguo:</label>
					                    	<input id="codigoAntiguoModal" type="text" class="form-control" maxlength="50">			            
					            		</div>
					            		
					            		<div class="col-sm-4">
						            		<label id="lblCodigo" class="label" for="codBarras">C&oacute;d. barras:</label>
						                    <input id="codBarrasModal" type="text" class="form-control" maxlength="20">
					            		</div>                 	
		                        	</div>
		                        	
		                        	<div class="row">
		                            	<div class="col-sm-12">
		                        			<label id="lblDescripcion" class="label" for="descripcionModal">Descripción:</label>
							            	<input id="descripcionModal" type="text" class="form-control" required="required" maxlength="100">
							            	<div class="invalid-feedback">
					                            Ingrese una descripción válida.
					                        </div> 
		                        		</div>             	
		                        	</div>
		                        	
		                        	<div class="row">	                        
		                            	<div class="col-sm-4">
					                    	<label class="label" for="marcaArticuloModal">Marca Art:</label>
									        <select id="marcaArticuloModal" class="form-control" required="required">
									            	<option value="" selected>-- SELECCIONAR --</option>
									                <option th:each="item : ${listaMarcaArticuloModal}"
														th:value="${item.codigo}" 
														th:text="${item.descripcion}">
													</option>
									        </select>
									        <div class="invalid-feedback">
					                        	Ingrese una marca de artículo válida.
					                    	</div>
					                 	</div>
					                        
					                    <div class="col-sm-4">   
					                    	<label class="label" for="tipoModal">Tipo:</label>
											<select id="tipoModal" class="form-control" required="required">
										    	<option value="" >-- SELECCIONAR --</option>
											</select>
										    <div class="invalid-feedback">
						                    	Ingrese un tipo válido.
						                    </div>
						                </div>
						                    
						                <div class="col-sm-4">   
						                	<label class="label" for="seccionModal">Sección:</label>
									        <select id="seccionModal" class="form-control" required="required">
									        	<option value="" selected>-- SELECCIONAR --</option>
											 	<option th:each="item : ${listaSeccionModal}"
													th:value="${item.codigo}" 
													th:text="${item.descripcion}">
												</option>
									        </select>
									        <div class="invalid-feedback">
					                        	Ingrese una sección válida.
					                   		</div>
					                   	</div>
					                </div>
					                
					                <div class="row"> 
					                	<div class="col-sm-4">       
					                            <label class="label" for="undMedidaModal">Und. Medida:</label>
					                            <select id="undMedidaModal" class="form-control" required="required">
									            	<option value="" selected>-- SELECCIONAR --</option>
									            	<option th:each="item : ${listaUnidadMedidaModal}"
														th:value="${item.codigo}" 
														th:text="${item.descripcion}">
													</option>
									            </select>
									            <div class="invalid-feedback">
					                            	Ingrese una unidad de medida válida.
					                            </div>
					               		</div>
					               		
					               		<div class="col-sm-4">
					               			<label class="label" for="marcaVehModal">Marca Veh:</label>
										        <select id="marcaVehiculoModal" class="form-control">
										            <option value="" selected>-- SELECCIONAR --</option>
										            <option th:each="item : ${listaMarcaVehiculoModal}"
														th:value="${item.codigo}" 
														th:text="${item.descripcion}">
													</option>
										       	</select>  
										</div>
										
										<div class="col-sm-4">								            				                 
					                    	<label class="label" for="modeloModal">Modelo:</label>
									     	<select id="modeloModal" class="form-control">
									    		<option value="" selected>-- SELECCIONAR --</option>							                        
									  		</select>
									  	</div>
									</div>
									
									<div class="row">
										<div class="col-sm-4">
									    	<label class="label" for="motorModal">Motor:</label>
									     	<select id="motorModal" class="form-control">
									            <option value="" selected>-- SELECCIONAR --</option>
									            <option th:each="item : ${listaMotorModal}"
													th:value="${item.codigo}" 
													th:text="${item.descripcion}">
												</option>
									        </select>                                  
						                </div>
						                
										<div class="col-sm-4">
						                	<label class="label" for="aplicacionModal">Aplicación:</label>
										 	<select id="aplicacionModal" class="form-control">
										     	<option value="" selected>-- SELECCIONAR --</option>
										      	<option th:each="item : ${listaAplicacionModal}"
													th:value="${item.codigo}" 
													th:text="${item.descripcion}">
												</option>
										    </select>		            
					            		</div>
					            		
					            		<div class="col-sm-4">
									   		<label id="lblActivo" class="label" for="seccion">Activo:</label>
								            <input id="activoModal" type="checkbox" class="form-check">								       						            
					            		</div>
					            		                    	
		                        	</div>
		                        	
		                        	<div class="row">	                        	
		                            	<div class="col-sm-12">
		                        			<label id="lblObservaciones" class="label" for="observaciones">Observaciones:</label>
							                <textarea rows="3" cols="30" id="observacionesModal" class="form-control" maxlength="250" style="width:100%"></textarea>	
		                        		</div>
		                        	</div>	                        
		                        </div>
	                        
		                        <div class="col-sm-3" >
		                       		<div class="row">	    
		                       			<div class="col-sm-2"></div> 
		                       			         	
		                            	<div class="col-sm-10"> 
					                    	<input type='file' id="selectorImagen" accept=".jpg, .png, .jpeg" hidden="hidden"/>
					                        
					                        <div class="text-center">	
						                        <button type="button" id="btnCargarImg" class="btn btn-primary my-1" title="Cargar Imagen" style="margin-right: 10px;">
						                        	<i class="fas fa-upload"></i>
										        </button>
										                    	                        			
						                        <button type="button" id="btnQuitarImg" class="btn btn-danger my-1" title="Borrar Imagen" style="margin-right: 10px;">
						                        	<i class="fas fa-trash-alt"></i>
										        </button>
					                    	</div>
								       		<label id="nombreArchivoModal" class="label" style="width: 100%"></label>
								       					                    	
						    				<img id="imagenModal" 
						    					style="width: 100%; height: auto; max-height: 90%; border: 1px ; margin-left: auto;margin-right: auto; display: block;"/>
					            		</div>
					            		 
					            	</div>
					            	
				               	</div>
	                        
	                       </div> 
	                       <!-- </fieldset> -->
	                        </form>
	                    </div>
						
	
	                    <div class="modal-footer" style="border-top: none">
	                        <button id="btnGrabarModal" type="button" class="btn btn-primary">
	                            <span style="padding-right: 6px;"><i class="fas fa-save" ></i></span>Guardar
	                        </button>
	
	                        <button id="btnCerrarModal" type="button" class="btn btn-primary" data-dismiss="modal">	
	                       		<span style="padding-right: 6px;"><i class="fas fa-backspace" ></i></span>Cerrar
	                        </button>
	                    </div>
	                </div>
            	</div>
            </div>
        </div>		
		
		<div class="kahaxi_titulo">
			<div class="kahaxi_titulo_container">
		    	<div class="kahaxi_titulo_logo"><i class="fas fa-search"></i></div>
		        <div class="kahaxi_titulo_text">MANTENIMIENTO DE ARTÍCULOS</div>
		    </div>
		   	<div class="subrayado"></div>
			<br>
		</div>
		
		<div class="box bg-box" id="accordionPrincipal">
		    	<div class="box-body">
		    		<div class="card">
		    		
		                <div class="card-header quitar-contornos" id="headingOne">
					        <h2 class="mb-0">
						        <button class="subtitle btn btn-link" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
				                    <i class="fas fa-angle-up"></i><span>Criterios de búsqueda</span>
				                    <div class="subrayado"></div>
				                </button>
			                </h2>
			            </div>
			            
		                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPrincipal">
		                	<div class="card-body">
		                    <form id="formArticulo" class="needs-validation" novalidate>
						 	 	<div class="row">
							 		<div class="col-sm-2">
							 			<label class="label" for="campoBuscar">Ingrese criterios para buscar:</label>
							 			<input class="form-control" maxlength="20" size="50" type="text" id="campoBuscar" placeholder="Ingrese código o descripción para buscar..."/>
							        </div>
							        
							        <div class="col-sm-2">
								        <label class="label" for="marca">Marca Artículo</label>
						                <select id="marca" class="form-control">
						                	<option value="" selected>-- TODOS --</option>
						                	<option th:each="item : ${listaMarcaArticulo}"
												th:value="${item.codigo}" 
												th:text="${item.descripcion}">
											</option>
						                </select>
						            </div>	
						            
						            <div class="col-sm-2">
								        <label class="label" for="tipo">Tipo</label>
						                <select id="tipo" class="form-control">
						                	<option value="" selected>-- TODOS --</option>
						                </select>
						            </div>	
						            
						            <div class="col-sm-2">
								        <label class="label" for="seccion">Sección</label>
						                <select id="seccion" class="form-control">
						                	<option value="" selected>-- TODOS --</option>
						                	<option th:each="item : ${listaSeccion}"
												th:value="${item.codigo}" 
												th:text="${item.descripcion}">
											</option>
						                </select>
						            </div>	
						            
						            <div class="col-sm-2">
								        <label class="label" for="unidadMedida">Unidad Medida</label>
						                <select id="unidadMedida" class="form-control">
						                	<option value="" selected>-- TODOS --</option>
						                	<option th:each="item : ${listaUnidadMedida}"
												th:value="${item.codigo}" 
												th:text="${item.descripcion}">
											</option>
						                </select>
						            </div>	 	 		
							 		
							 		<div class="col-sm-2 alineacion-derecha">
							 		<label></label>
							 		<div>
								 		<button  type="button" id="btnLimpiar" class="btn btn-outline-primary btn-sm">
							            	<span class="mr-2"><i class="fas fa-eraser"></i></span>Limpiar
							            </button>
							                
							            <button  type="button" id="btnNuevo" class="btn btn-outline-primary btn-sm">
					                    	<span class="mr-2"><i class="fas fa-plus-square"></i></span>Nuevo
					                    </button >
						            </div>
							 	</div>
							    </div>
							</form>
							</div>
	                	</div>
	            	</div>
	          	</div>
	        </div>
			
			<div class="box bg-box" id="accordionPrincipal">
		    	<div class="box-body">
		    		
			        <div class="card ">
				        <div class="card-body">
				             	<div class="table-responsive">
					    			<table id="tablaArticulo" class="table table-bordered dt-responsive order-column">
								        <thead class="text-center">
								            <tr>
								            	<th>Item</th>
								                <th>C&oacute;digo</th>
								                <th>C&oacute;d. Estándar</th>
								                <th>C&oacute;d. Antiguo</th>
								                <th>Descripci&oacute;n</th>
								                <th>Marca Art&iacute;culo</th>
								                <th>Tipo</th>
								                <th>Sección</th>
								                <th>Unidad de Medida</th>
								                <th style="display: none">Cod Marca</th>
								                <th style="display: none">Cod Tipo</th>
								                <th style="display: none">Cod Seccion</th>
								                <th style="display: none">Cod Und Medida</th>
								                <th>Stock</th>
								                <th>Ult. Precio Compra</th>
								                <th>Activo</th>
								                <th>Opciones</th>
								            </tr>
								        </thead>
								        <tbody>
					               		</tbody>
					    			</table>		
				  				</div>
			            </div>
			        </div>
	        	</div>
	        </div>
		        
	</div>
</body>
</html>
