<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script th:src="@{/js/gui-mantenimiento-socio-negocios.js}" ></script>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<div >
            <img th:src="@{/images/en-construccion.png.jpg}"/>
        </div>
	</div>
</body>
</html>
