<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script th:src="@{/js/maestros/gui-mantenimiento-lista-precios.js}" ></script>   
</head>

<body>

	<div layout:fragment="content" th:remove="tag">
		
        <div class="modal fade bd-example-modal-lg" id="listaPrecioModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg box bg-box modal-content" role="document">
                <div class="box-body">
					 <div class="card">
						
	                    <div class="modal-header card-header">
	                        <h6 class="modal-title" id="exampleModalLabel"><span id="titulo"></span> Lista de Precios</h6>
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                            <span aria-hidden="true" style="color:#5990e0">&times;</span>
	                        </button>
	                    </div>
	
	                    <div class="box-body">
	                        <form id="form_validado_listaPrecio" class="needs-validation" novalidate enctype="multipart/form-data" style="padding:0px 15px 0px 15px">
								<label id="idListaPre" hidden="hidden"></label>
								
								<div class="row">
									<div class="col-md-6" id="divDescargar">
										<span style="font-weight:bold">Paso 1: </span><label id="lblDescripcion" class="label" for="descripcionModal">Descargar Plantilla</label>
										<button id="btnDescargar" type="button" class="btn btn-success btn-sm">
											<span style="padding-right: 6px;"><i class="far fa-file-excel"></i></span>
										</button>
									</div>
									
									<div class="col-md-6" id="divCargar">
										<label id="lblDescripcion" class="label" for="descripcionModal"><span style="font-weight:bold">Paso 2: </span>Cargar Lista de precios</label>
										<!-- <button id="btnCargar" type="button" class="btn btn-danger btn-sm">
											<span style="padding-right: 6px;"><i class="fas fa-solid fa-upload"></i></span>
										</button> -->
									</div>
								</div>

								<div id="frmListaPrecios">
									<div class="row">
										<div class="col-md-8">
											<label id="lblDescripcion" class="label"
												for="descripcionModal">Descripci&oacute;n:</label> <input
												id="descripcionModal" type="text" class="form-control"
												required="required" maxlength="250" />
											<div class="invalid-feedback">Ingrese una descripción
												válida.</div>
										</div>

										<div class="col-md-3">
											<label id="lblMarca" class="label" for="monedaModal">Moneda:</label>
											<select id="monedaModal" class="form-control"
												required="required">
												<option value="" selected>-- SELECCIONAR --</option>
												<option th:each="item : ${listaMoneda}"
													th:value="${item.codigo}" th:text="${item.descripcion}">
												</option>
											</select>
											<div class="invalid-feedback">Ingrese una moneda
												válida.</div>
										</div>
										
										<div class="col-md-1" id="divActivo">
					                    	<label id="lblActivo" class="label" for="seccion">Activo:</label>
					                        <input id="activoModal" type="checkbox" class="form-check">
					                    </div>
									</div>
									
									<div class="row">
										<div class="col-sm-3">
											<!-- <label class="label" for="fileExcel">Cargar archivo:</label> -->
											<input type="file" id="fileExcel" accept=".xls,.xlsx" name="archivoExcel" hidden="hidden">
											<button type="button" id="btnCargar" class="btn btn-outline-primary my-1">
												<span style='margin-right: 5px'><i class="fas fa-upload"></i></span>Cargar Archivo										</button>
											
										</div>
										<div class="col-md-9">
											<label class="label" id="nombreArchivo"></label>
											<!-- <input class="form-control disabled-input" type="text" id="nombreArchivo" size="25" required> -->
											<div class="invalid-tooltip">Debe seleccionar un archivo
												Excel (xls, xlxs)</div>
										</div>
									</div>
								</div>
								

				                  	
	                        </form>
	                    </div>
	
	                  	<div class="modal-footer" style="border-top: none">
	                  		<button id="btnGrabarModal" type="button" class="btn btn-danger"> <!-- class="btn btn-primary"> fa-solid -->
								<span style="padding-right: 6px;"><i class="fas fa-save"></i></span>Grabar
							</button>
	                        <button id="btnCerrarModal" type="button" class="btn btn-primary" data-dismiss="modal">	
	                       		<span style="padding-right: 6px;"><i class="fas fa-backspace" ></i></span>Cerrar
	                        </button>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
		
		
		<div class="kahaxi_titulo">
	        <div class="kahaxi_titulo_container">
	            <div class="kahaxi_titulo_logo"><i class="fas fa-search"></i></div>
	            <div class="kahaxi_titulo_text">MANTENIMIENTO DE LISTA DE PRECIOS</div>
	        </div>
	        <div class="subrayado"></div>
	        <br>
	    </div>
	    
	    <div class="box bg-box" id="accordionPrincipal">
	    	<div class="box-body">
	    		<div class="card">
	                <div class="card-header quitar-contornos" id="headingOne">
				        <h2 class="mb-0">
					        <button class="subtitle btn btn-link" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
			                    <i class="fas fa-angle-up"></i><span>Criterios de búsqueda</span>
			                    <div class="subrayado"></div>
			                </button>
		                </h2>
		            </div>
                
	                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPrincipal">
	                	<div class="card-body">
	                    <form id="formMntoListaPrecios" class="needs-validation" novalidate>
					 	 	<div class="row">
						 		<div class="col-md-3">
						 			<label class="label" for="campoBuscar">Ingrese criterios para buscar:</label>
						 			<input class="form-control" maxlength="20" size="50" type="text" id="campoBuscar" th:value=${datoBuscar} placeholder="Ingrese código o descripción para buscar..."/>
						        </div>
						        					 		
						 		<div class="col-md-9 alineacion-derecha">
							 		<label></label>
							 		<div>
								 		<button  type="button" id="btnLimpiar" class="btn btn-primary btn-sm">
							            	<span class="mr-2"><i class="fas fa-eraser"></i></span>Limpiar
							            </button>
							                
							            <button  type="button" id="btnNuevo" class="btn btn-primary btn-sm">
					                    	<span class="mr-2"><i class="fas fa-plus-square"></i></span>Nuevo
					                    </button >
						            </div>
							 	</div>
						    </div>
						</form>
						</div>
                	</div>
            	</div>
          	</div>
        </div>
        
        <div class="box bg-box" id="accordionPrincipal">
	    	<div class="box-body">
	    		
		        <div class="card ">
			        <div class="card-body">
			             	<div class="table-responsive">
				    			<table id="tablaListaPrecios" class="table table-bordered dt-responsive order-column" style="width:100%; ">
							        <thead class="text-center">
							            <tr>
							                <th>Item</th>
							                <th style="display: none">codigo</th>
							                <th>Descripci&oacute;n</th>
							                <th>Moneda</th>
							                <th>Usuario de Creación</th>
							                <th>Fecha de Creación</th>
							                <th>Activo</th>
							                <th>Opciones</th>
							            </tr>
							        </thead>
							        <tbody>
				               		</tbody>
				    			</table>		
			  				</div>
		            </div>
		        </div>
        	</div>
        </div>
	</div>
	
</body>
</html>
