/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2018, 08:55:05 AM
    Author     : vbendezu
*/

.menu * {
 color: #fff;
 }
 
.menu_bar {
	display:none;
}
 
.menu {
	margin: 0;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	width:100%;
	background:#375779;
	text-transform:uppercase; 
	padding: 5px 0px 37px 0px;
}
 
 
.menu > li {
	float:left;
	background: #375779;
}
 
.menu li a {
 display: block;
 color:#FFF;
 font-style: normal;
 font-weight: bold;
/* background: #375779;	*/
}

.menu li a:hover {
	color: #ccdff4;
	text-decoration: none;
}

.menu li ul {
 z-index: 20;
 display: block;
 position:absolute;
 font-style: normal;
 font-weight: bold;
 border-top: solid 0.17rem  #a6c7ec;
 background: #5a7999;
 text-transform: none;	
 margin:10px 0 0 0;
}


.menu li:hover > ul {
	display:block;
}

.menu li ul li {
	position:relative;
}
 
.menu li ul li ul {
	right:-215px;
	top:0;
	min-width:215px;
}

.menu li a:not(:only-child):after {
  padding-left: 5px;
  content: ' ▾';
}

.menu svg{
 	 margin-right: 10px;
}

.nav-submenu {
  width:auto;
  position: absolute;
  z-index: 1;
  box-shadow:0 0 30px rgb(255 255 255 / 43%);
  width: auto;
  display: none;
}



/*


.menu li ul li > ul{
	left: 100%;
    position: absolute;
    top: 0;
    margin-top: -1px;
}

.menu li ul li > a{
	display:block;
}

.menu * {
 color: #fff;
 }
 
 .menu > li {
  display: inline-block;
  position: relative;
}

.menu li a:not(:last-child) {
	display: inline;
}


.menu li:hover {	
  cursor: pointer;
 }
 
 .menu li a:hover {
	color: #ccdff4;
	text-decoration: none;
 }
 
 

 
 .menu ul:before {
 position: absolute;
 top: -0.875rem;
 left: 0; 
 color: #6ec4fbd6;
 }
 
 .menu ul li {
 display: block;
 max-height: 3.125rem;
 opacity: 1;
 -webkit-transition: max-height 0.5s, opacity 0.5s;
 transition: max-height 0.5s, opacity 0.5s;
 white-space: nowrap;
 }
 
 .menu li .closed li{
 overflow: hidden;
 max-height: 0;
 opacity: 0;
 -webkit-transition: max-height 0.5s, opacity 0.5s;
 transition: max-height 0.5s, opacity 0.5s;
 }
 
 .menu svg{
 	 margin-right: 10px;
 }
 





.nav-submenu {
  width:auto;
  position: absolute;
  z-index: 1;
  box-shadow:0 0 30px rgb(255 255 255 / 40%);
  width: auto;
  display: none;
}

.nav-submenu li {
   width: 100%;
   white-space: nowrap;
}
*/





@media screen and (min-width: 800px) {
  .nav-menu {
    display: block !important;
  }  
}


@media screen and (max-width:799px ) {
	
	.nav-submenu {
	    position: static;
	    box-shadow:none;
	}
	
	.menu li{
		width:100%;		
	}
	
	.menu > li {
  		display: block !important;
  		
	  /*	position: absolute;*/
	}
	
	.menu li ul{
		position: static;
	}
		
	.menu li > ul{
		box-shadow: 5px 5px 25px rgb(0 0 0 / 30%);
		border-top:none;
	}	
 	
	.contenedor_menu {
		width:36%;
		height:100vh;
		left:-100%;
		margin:0;
		position: absolute;
		z-index: 100;
		border-top:solid 0.17rem  #a6c7ec;
		background: #375779;
	}
	
	.menu_bar {
		display:flex;
		width:100%;
		background:#375779 !important;
		/*height:45px;*/
		flex-flow: row nowrap;
        justify-content: flex-start;
        font-weight: bold;
        color:#fff;
	}
	
	.menu li ul li ul {
		right:-150px;
		top:0;
		min-width:150px;
	}

}






