<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{fragments/layout}" lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script th:src="@{/js/compras/orden-compra/gui-nueva-orden-compra.js}" ></script>
</head>

<body>

<div layout:fragment="content" th:remove="tag">

	<input type="text" id="codigoProveedor" hidden="hidden"/>
	<input type="text" id="email" hidden="hidden"/>
	<input type="text" id="flagEnvio" hidden="hidden"/>
	<input type="text" id="tipoCambioSave" hidden="hidden"/>
	
	<label id="numeroDocumento" th:text=${numeroDocumento} hidden="hidden"></label>
	<label id="opcion" th:text=${opcion} hidden="hidden"></label>
	<label id="datoBuscar" th:text=${datoBuscar} hidden="hidden"></label>
	<label id="nroOrdenCompra" th:text=${nroOrdenCompra} hidden="hidden"></label>
	<label id="codRepuesto" th:text=${codRepuesto} hidden="hidden"></label>
	
	<label id="fechaDesde" th:text=${fechaDesde} hidden="hidden"></label>
	<label id="fechaHasta" th:text=${fechaHasta} hidden="hidden"></label>
	<label id="estadoParam" th:text=${estadoParam} hidden="hidden"></label>
	<label id="volverParam" th:text=${volver} hidden="hidden"></label>
	
	
	
	<button type="button" id="btnGrabar" class="btn-flotante-grabar">
		<span class="mr-2"><i class="fas fa-save"></i></span>Grabar
    </button>			
	<button type="button" id="btnDuplicar" class="btn-flotante-duplicar" style="display: none">
		<span class="mr-2"><i class="fas fa-copy"></i></span>Duplicar
    </button>
    			            
	<div class="modal fade" id="guiasPorOrdenCompraModal" role="dialog" aria-labelledby="guiasPorOrdenCompraModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-personalizado-medium modal-lg" role="document" >
			<div class="modal-content">

				<div class="modal-header">
					<h6 class="modal-title" id="guiasPorOrdenCompraModalLabel">Orden de Compra: <span id="modalCodigoOrdenCompra"></span></h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" style="color:#5990e0">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<div class="card">

						<div class="card-header">
							<span class="font-weight-bold">Seleccione la Guía de Remisión que desea consultar:</span>
						</div>

						<div>

							<div class="card-body">

								<div class="row">

									<div class="col-md-12">

										<div class="table-responsive">

											<table id="tableSeleccionDocumento" class="table table-hover table-striped table-bordered dt-responsive">

												<thead class="text-center">
												<tr>
													<th id="codigoGuiaRemision" width="20%" style="text-align: left;">Nro Guía de Remisión</th>
													<th id="fecDocumento" width="8%" style="text-align: center;">Fec. Documento</th>
													<th id="fecContabilizacion" width="8%" style="text-align: center;">Fec. Contabilización</th>
													<th id="serieCorrelativoGuiaRemision" width="24%" style="text-align: left;">Serie-Correlativo</th>
													<th id="subTotalGuiaRemision" width="12%" style="text-align: right;">SubTotal</th>
													<th id="igvGuiaRemision" width="12%" style="text-align: right;">IGV</th>
													<th id="totalGuiaRemision" width="16%" style="text-align: right;">TOTAL</th>
												</tr>
												</thead>

												<tbody>
												</tbody>

											</table>

										</div>
									</div>
								</div>

							</div>
						</div>

					</div>


				</div>

				<div class="modal-footer" style="border-top: none">
					<button id="btnCerrarModal" type="button" class="btn btn-primary" data-dismiss="modal">
						<span class="mr-2"><i class="fas fa-backspace" ></i></span>Cerrar
					</button>
				</div>
			</div>
		</div>
	</div>


	<div class="kahaxi_titulo">

		<div class="kahaxi_titulo_container">
			<div class="kahaxi_titulo_logo"><i class="fas fa-clipboard-list"></i></div>
			<div class="kahaxi_titulo_text"><span id="titulo"></span> ORDEN DE COMPRA</div>
		</div>

		<div class="subrayado">
		</div>

		<br>
	</div>

	<div class="box bg-box" id="accordionCabeceraOrden">

		<div class="box-body">

			<div class="card">

				<div class="card-header quitar-contornos" id="headingCabeceraOrden">
					<div class="row">
						<div class="cabe col-md-4">
							<h2 class="mb-0">
								<button class="subtitle btn btn-link" data-toggle="collapse" data-target="#collapseCabeceraOrden" aria-expanded="true" aria-controls="collapseCabeceraOrden">
									<i class="fas fa-angle-up"></i><span>Datos de la Orden de Compra </span><span class="font-weight-bold" id="codigo"></span>
									<div class="subrayado"></div>
								</button>						
							</h2>
						</div>
						
						<div class="col-md-8 alineacion-derecha">
				     		<button  type="button" id="btnPdf" class="btn btn-danger" style="display: none">
				                <span class="mr-2"><i class="far fa-file-pdf"></i></span>PDF 
				            </button>
				            
							<button  type="button" id="btnNuevo" class="btn btn-primary" style="display: none">
	                        	<span class="mr-2"><i class="fas fa-plus-square"></i></span>Nuevo
	                    	</button >
	                    	
	                    	<button type="button" id="btnIrGuiaRemision" class="btn btn-primary my-1" style="display: none">
								<span class="mr-2"><i class="fas fa-external-link-alt"></i></span>Ir a la Guía de Remisión
							</button>

			 				<button type="button" id="btnGenerarGuiaRemision" class="btn btn-primary my-1" style="display: none">
								<span class="mr-2"><i class="fas fa-truck"></i></span>Registrar Guía de Remisión
							</button>
						
							<button type="button" id="btnVolver" class="btn btn-primary" style="display: none">
	                  			<span class="mr-2"><i class="fas fa-backspace"></i></span>Volver
				            </button>
						</div>
						
					</div>
				</div>

				<div id="collapseCabeceraOrden" class="collapse show" aria-labelledby="headingCabeceraOrden" data-parent="#accordionCabeceraOrden">

					<div class="box-body">

						<form id="formOrdenCompra" class="needs-validation" novalidate>

							<div class="row">
					 	 		<div class="col-md-2">
						 			<div id="referenciaDiv" style="display: none ">
						 				<label class="label" for="nroDocReferencia">Nro. Doc. Referencia:</label>
						          		<input class="form-control" type="text" id="nroDocReferencia" readonly="readonly" />
						          	</div>
						 		</div>
						 		
						 		<div class="col-md-10">
						 		</div>
						 	</div>
						 	
							<div class="row">

								<div class="col-md-2">
									<label class="label" for="campoBuscar">Ingrese criterios para buscar:</label>
									<input class="form-control sinCaracteresEspeciales" maxlength="20" size="50" type="text" id="campoBuscar" placeholder="Ingrese DNI/RUC o Nombre/Razón Social para buscar..."/>
								</div>

								<div class="col-md-2">
									<label class="label" for="documentoProv">DNI/RUC:</label>
									<input class="form-control" maxlength="20" size="15" type="text" id="documentoProv" readonly="readonly" tabindex="-1" />
								</div>

								<div class="col-md-2">
									<label class="label" for="nombreProv">Nombre/Raz&oacute;n Social:</label>
									<input class="marquee form-control" maxlength="250" size="50" type="text" id="nombreProv" readonly="readonly" tabindex="-1"/>
								</div>

								<div class="col-md-2">
									<label class="label" for="direccion">Direcci&oacute;n:</label>
									<input class="marquee form-control" maxlength="250" size="50" type="text" id="direccion" readonly="readonly" tabindex="-1"/>
								</div>
								
								<div class="col-md-2">
									<label class="label" for="direccionDespacho">Direcci&oacute;n Despacho:</label>
									<select id="direccionDespacho" class="form-control" required="required">
										<option value="" selected>-- SELECCIONAR --</option>										
									</select>
									<div class="invalid-feedback">
										Debe seleccionar la dirección de despacho
									</div>
								</div>

								<div class="col-md-2">
									<label class="label" for="personaContacto">Persona Contacto:</label>
									<select id="personaContacto" class="form-control" required="required">
										<option value="" selected>-- SELECCIONAR --</option>										
									</select>
									<div class="invalid-feedback">
										Debe seleccionar la persona de contacto
									</div>
								</div>

							</div>

							<div class="row">

								<div class="col-md-2">
									<label class="label" for="fecConta">Fecha de contabilización:</label>
									<div class="input-group date" id="fecConta" data-target-input="nearest">
										<input type="text" class="form-control datetimepicker-input" data-target="#fecConta" readonly="readonly"/>
										<div class="input-group-append" data-target="#fecConta" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<label class="label" for="fecHasta">Válido hasta:</label>
									<div class="input-group date" id="fecHasta" data-target-input="nearest">
										<input type="text" class="form-control datetimepicker-input" data-target="#fecHasta" readonly="readonly"/>
										<div class="input-group-append" data-target="#fecHasta" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<label class="label" for="fecEntrega">Fecha de entrega:</label>
									<div class="input-group date" id="fecEntrega" data-target-input="nearest">
										<input type="text" class="form-control datetimepicker-input" data-target="#fecEntrega" />
										<div class="input-group-append" data-target="#fecEntrega" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>
								
								<div class="col-md-2">
									<label class="label" for="tipoMoneda">Moneda:</label>
									<select id="tipoMoneda" class="form-control">
										<option th:each="item : ${listaMoneda}"
									            th:value="${item.codigo}" 
									            th:text="${item.descripcion}">
									    </option>
									</select>
								</div>
								
								<div class="col-md-1">
									<label class="label" for="tipoCambio">Tipo Cambio:</label> <input
										class="form-control" maxlength="15" size="50" type="text"
										id="tipoCambio" required="required" />
									<div class="invalid-feedback">Debe ingresar el tipo de
										cambio</div>
								</div>
								
								<div class="col-md-1">
									<label class="label" for="condPago">Cond. Pago:</label>
									<select id="condPago" class="form-control">
										<option th:each="item : ${listaCondPago}"
									            th:value="${item.codigo}" 
									            th:text="${item.descripcion}">
									    </option>
									</select>
								</div>

								<div class="col-md-2">
									<label id="lblDias" class="label" for="dias">Días de crédito:</label>
									<select id="dias" class="form-control">
										<option th:each="item : ${listaDias}"
									            th:value="${item.codigo}" 
									            th:text="${item.descripcion}">
									    </option>
									</select>
									<div class="invalid-feedback">
										Debe seleccionar los días de crédito
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<label class="label" for="estado">Estado:</label> <select
										id="estado" class="form-control" disabled="disabled">
										<option th:each="item : ${listaEstado}"
											th:value="${item.codigo}" th:text="${item.descripcion}">
										</option>
									</select>
								</div>
								
								<div class="col-md-1">
									<label class="label" for="cotizacionSap">Cotización
										SAP:</label> <input class="form-control" maxlength="35" size="50"
										type="text" id="cotizacionSap"/>
								</div>

								<div class="col-md-1">
									<!-- id="divNroPedido"-->
									<label class="label" for="nroPedido" id="lblPedido">Nro.
										Pedido:</label> <input class="form-control" maxlength="35" size="50"
										type="text" id="nroPedido" />
								</div>

								<div class="col-md-2">
									<label class="label" for="lblAnulado">&nbsp;</label>
									<input class="form-control etiquetaAnulado" type="text" id="lblAnulado" style="display: none" value="RECHAZADO"/>
								</div>
								
								<div class="col-md-6 alineacion-derecha">
						 			<label class="label"></label>
						 			<div>
										<button type="button" id="btnLimpiar" class="btn btn-primary">
				                  			<span class="mr-2"><i class="fas fa-eraser"></i></span>Limpiar
							            </button>
							        </div>
					 			</div>				 										

							</div>
							
							<div class="row">
						 		<div class="col-md-12">
						 			<label class="label"></label>
						 		</div>
						    </div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="box bg-box" id="accordionDetalleOrden">

		<div class="box-body">

			<div class="card">

				<div id="collapseDetalleOrden" class="collapse show" aria-labelledby="headingDetalleOrden" data-parent="#accordionDetalleOrden">

					<div class="card-body quitar-contornos-tabla">

						<div class="row">

							<div class="col-md-10">
							</div>

							<div class="col-md-2 alineacion-derecha">
								<button type="button" id="btnEliminarTodosArticulos" class="btn btn-danger btn-md" title="Eliminar todos los artículos" style="display: none">
									<span class="mr-2"><i class="far fa-trash-alt"></i></span>
								</button>
								
								<button type="button" id="btnAgregarArticulo" class="btn btn-primary btn-md" title="Agregar artículo" style="display: none">
									<span class="mr-2"><i class="fas fa-plus-square"></i></span>
								</button>
								
							</div>
						</div>

						<div class="row">

							<div class="col-md-12">

								<div class="table-responsive">

									<table id="tableDetalle" class="table table-hover table-striped table-bordered dt-responsive">

										<thead class="text-center">
											<tr>
												<th width="1%">Item</th>
								                <th id="buscarArticulo" width="2%">Buscar</th>
								                <th id="codArticulo" style="display: none"></th>
								                <th id="descCodArticulo" width="10%">C&oacute;d. Art.</th>
								                <th id="descripcionArticulo" width="20%">Descripci&oacute;n</th>
								                <th id="marca" width="17%">Marca</th>
												<th id="cantidad" width="7%" >Cantidad</th>
												<th id="cantidadPendiente" width="7%" >Cantidad Pendiente</th>
												<th id="precioUnitario" width="12%" >PU</th>
												<th id="precioUnitarioIgv" width="10%">PU c/IGV</th>
												<th id="subTotal" width="10%">SubTotal</th>
												<th id="subTotalIgv" style="display: none"></th>
												<th class="eliminar" width="4%">Eliminar</th>
											</tr>
										</thead>

										<tbody>
										</tbody>

									</table>

									<table id="tableNuevoDetalle" style="display:none;">
										<tbody>
										<tr>
											<td></td>
											<td></td>
											<td style="display: none"></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td style="display: none"></td>
											<td>
												<div class="text-center">
													<button class="btn-edit btn btn-success btn-xs d-none">
														<span><i class="fas fa-edit"></i></span>
													</button>

													<button class="btn-delete btn btn-danger btn-xs">
														<span><i class="fas fa-trash-alt"></i></span>
													</button>
												</div>
											</td>
										</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
                	<div class="card-body">
                		
                		<form id="formObservaciones" class="needs-validation" novalidate>
                		
					    <div class="form-group row">
					     	<div class="col-md-8">
					     		
					     		<div class="form-group row">
			            			<div class="col-md-3">
					            		<label class="label" for="observaciones">Observaciones</label>
					            	</div>
					            	<div class="col-md-9">	
					            		<textarea class="form-control" rows="3" maxlength="250" id="observaciones" required="required"></textarea>
							          	<div class="invalid-feedback">
			                                Debe ingresar observaciones
			                            </div>
								    </div>
			            		</div>
					     	</div>
					     	
					     	<div class="col-md-1"></div>
					     	<div class="col-md-3">
				            	<div class="form-group row">
			            			<div class="col-md-4">
					            		<label class="label" for="subTotalOC">SubTotal</label>
					            	</div>
					            	<div class="col-md-8">	
					            		<span class="simbolo-moneda input-symbol-dolar">
								        	<input class="form-control alineacion-derecha" maxlength="10" type="text" id="subTotalOC" readonly="readonly"/>
								        </span>
								    </div>
			            		</div>
				            	
			            		<div class="form-group row">
			            			<div class="col-md-4">
					            		<label class="label" for="igvOC">IGV</label>
					            	</div>
					            	<div class="col-md-8">	
					            		<span class="simbolo-moneda input-symbol-dolar">
					            			<input class="form-control alineacion-derecha" maxlength="10" type="text" id="igvOC" readonly="readonly"/>
					            		</span>
								    </div>	
			            		</div>
			            		
			            		<div class="form-group row">
			            			<div class="col-md-4">
					            		<label class="label" for="totalOC">Total</label>
					            	</div>
					            	<div class="col-md-8">	
					            		<span class="simbolo-moneda input-symbol-dolar">
					            			<input class="form-control alineacion-derecha" maxlength="10" type="text" id="totalOC" readonly="readonly"/>
							        	</span>
								    </div>	
			            		</div>
					       	</div>
					    </div>
					    </form>
                	</div>
            	</div>
		</div>
	</div>
	
	<div class="form-content" style="display:none;">
		   	<div class="box-body">
		   	<form class="formEmail needs-validation" novalidate>
		   		<div class="form-group row">
		       		<div class="col-md-2">
		        		<label for="emailPDF">Correo electrónico:</label>
		        	</div>
		        	<div class="col-md-10">	
		        		<input type="email" class="form-control" id="emailPDF" placeholder="Puede ingresar varios correos separados por coma (,)" required="required" multiple="multiple"
		        			   title="Puede ingresar varios correos separados por coma (,)"></input>
		        		<div class="mensaje-validado-falso invalid-feedback">
		        			Ingrese un email o una lista de emails separados por comas
		              	</div>
		   			</div>
		     	</div>		     
           		
		  	</form>
		  	</div>
		</div>
	
	
</div>

</body>
</html>
