<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>
    <title>Repuestera Kahaxi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <strong>Acceso denegado. Ud. no tiene permisos para ver esta página</strong>
        <p><a th:href="@{/logout}">Cerrar sesión</a></p>
    </div>
</body>
</html>
