<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="pe.gob.repuestera.repository.reportes.ReporteMapper">
    
    <!-- *************** RESULTMAPS ******************* -->
    <resultMap id="ventaCab" type="VentaCabModel">
        <result property="codigoCliente" 			column="COD_CLIENTE" />
        <result property="nroDocCliente" 			column="NRO_DOC_CLIENTE" />
        <result property="nombreCliente" 			column="NOMBRE_CLIENTE" />
        <result property="direccionFiscal" 			column="DIRECCION_FISCAL" />
        <result property="fechaContabilizacion" 	column="FEC_CONTABILIZACION" />
        <result property="fechaValidoHasta" 		column="FEC_VALIDO_HASTA" />
        <result property="codigoTipoMoneda" 		column="COD_TIPO_MONEDA" />
        <result property="descripcionTipoMoneda"	column="DESC_TIPO_MONEDA" />
        <result property="codigoCondPago" 			column="COD_COND_PAGO" />
        <result property="descripcionCondPago"		column="DESC_COND_PAGO" />
        <result property="codigoDias" 				column="COD_DIAS" />
        <result property="descripcionDias" 			column="DESC_COD_DIAS" />
        <result property="codigoEstado" 			column="COD_ESTADO" />
        <result property="descripcionEstado"		column="DESC_ESTADO" />
        <result property="nroRequerimiento"			column="NRO_REQUERIMIENTO" />
        <result property="asunto"					column="ASUNTO" />
        <result property="observaciones"			column="OBSERVACIONES" />
        <result property="numeroDocumentoRef"		column="NRO_DOC_REFERENCIA" />        
        <result property="porcDctoTotal"			column="PORC_DCTO_TOTAL" />        
        <result property="subTotal"					column="SUBTOTAL" />
        <result property="descuento"				column="DESCUENTO" />
        <result property="igv"						column="IGV" />
        <result property="total" 					column="TOTAL" />
        <result property="activo"					column="ACTIVO" />  
        <result property="atencion"					column="ATENCION" />
    </resultMap>
    
    <resultMap id="grCab" type="GuiaRemisionCabModel">
        <result property="codigoCliente" 			column="COD_CLIENTE" />
        <result property="nroDocCliente" 			column="NRO_DOC_CLIENTE" />
        <result property="nombreCliente" 			column="NOMBRE_CLIENTE" />
        <result property="direccionFiscal" 			column="DIRECCION_FISCAL" />
        <result property="fechaContabilizacion" 	column="FEC_CONTABILIZACION" />
        <result property="fechaEntrega" 			column="FEC_ENTREGA" />
        <result property="codigoTipoMoneda" 		column="COD_TIPO_MONEDA" />
        <result property="descripcionTipoMoneda"	column="DESC_TIPO_MONEDA" />
        <result property="codigoCondPago" 			column="COD_COND_PAGO" />
        <result property="descripcionCondPago"		column="DESC_COND_PAGO" />
        <result property="codigoDias" 				column="COD_DIAS" />
        <result property="descripcionDias" 			column="DESC_COD_DIAS" />
        <result property="codigoEstado" 			column="COD_ESTADO" />
        <result property="descripcionEstado"		column="DESC_ESTADO" />
        <result property="asunto"					column="ASUNTO" />
        <result property="observaciones"			column="OBSERVACIONES" />
        <result property="ordenVenta"				column="NRO_DOC_REFERENCIA" />        
        <result property="porcDctoTotal"			column="PORC_DCTO_TOTAL" />        
        <result property="subTotal"					column="SUBTOTAL" />
        <result property="descuento"				column="DESCUENTO" />
        <result property="igv"						column="IGV" />
        <result property="total" 					column="TOTAL" />
        <result property="activo"					column="ACTIVO" />
    </resultMap>
    
    <resultMap id="facturaCab" type="ComprobantePagoCabModel">
        <result property="codigoCliente" 			column="COD_CLIENTE" />
        <result property="nroDocCliente" 			column="NRO_DOC_CLIENTE" />
        <result property="nombreCliente" 			column="NOMBRE_CLIENTE" />
        <result property="direccionFiscal" 			column="DIRECCION_FISCAL" />
        <result property="fechaContabilizacion" 	column="FEC_CONTABILIZACION" />
        <result property="fechaVencimiento"			column="FEC_VENCIMIENTO" />
        <result property="codigoTipoMoneda" 		column="COD_TIPO_MONEDA" />
        <result property="descripcionTipoMoneda"	column="DESC_TIPO_MONEDA" />
        <result property="codigoCondPago" 			column="COD_COND_PAGO" />
        <result property="descripcionCondPago"		column="DESC_COND_PAGO" />
        <result property="codigoDias" 				column="COD_DIAS" />
        <result property="descripcionDias" 			column="DESC_COD_DIAS" />
        <result property="codigoEstado" 			column="COD_ESTADO" />
        <result property="descripcionEstado"		column="DESC_ESTADO" />
        <result property="asunto"					column="ASUNTO" />
        <result property="observaciones"			column="OBSERVACIONES" />
        <result property="ordenVenta"				column="NRO_DOC_REFERENCIA" />        
        <result property="porcDctoTotal"			column="PORC_DCTO_TOTAL" />        
        <result property="subTotal"					column="SUBTOTAL" />
        <result property="descuento"				column="DESCUENTO" />
        <result property="igv"						column="IGV" />
        <result property="total" 					column="TOTAL" />
        <result property="activo"					column="ACTIVO" />
    </resultMap>
    
    <resultMap id="ventaDet" type="hashmap">
        <result property="COD_ARTICULO" 		column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 		column="COD_ESTANDAR" />
        <result property="DESCRIPCION" 			column="DESCRIPCION" />
        <result property="MARCA_ARTICULO" 		column="MARCA_ARTICULO" />
        <result property="CANTIDAD" 			column="CANTIDAD" />
        <result property="PRECIO_UNITARIO"		column="PRECIO_UNITARIO" />             
        <result property="PORC_DCTO"			column="PORC_DCTO" />
        <result property="PRECIO_CON_DCTO"		column="PRECIO_CON_DCTO" />
        <result property="SUB_TOTAL" 			column="SUB_TOTAL" />
    </resultMap>
    
    <resultMap id="repCompraDet" type="hashmap">
        <result property="NRO_DOCUMENTO" 		column="NRO_DOCUMENTO" />
        <result property="NRO_DOCUMENTO_INTERNO" column="NRO_DOCUMENTO_INTERNO" />
        <result property="FEC_CONTABILIZACION" 	column="FEC_CONTABILIZACION" />
        <result property="ORDEN_COMPRA" 		column="ORDEN_COMPRA" />
        <result property="COD_PROVEEDOR" 		column="COD_PROVEEDOR" />
        <result property="NRO_DOC_PROVEEDOR" 	column="NRO_DOC_PROVEEDOR" />
        <result property="NOMBRE_PROVEEDOR"		column="NOMBRE_PROVEEDOR" />
        <result property="MONEDA"				column="MONEDA" />
        <result property="SUBTOTAL" 			column="SUBTOTAL" />
        <result property="IGV"					column="IGV" />
        <result property="TOTAL"				column="TOTAL" />
        <result property="NRO_PEDIDO"			column="NRO_PEDIDO" />
        <result property="ESTADO_PAGO"			column="ESTADO_PAGO" />
        <result property="ESTADO"				column="ESTADO" />
        <result property="FEC_REGISTRO" 		column="FEC_REGISTRO" />
    </resultMap>
    
    <resultMap id="ordenCompraDet" type="hashmap">
        <result property="COD_ARTICULO" 		column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 		column="COD_ESTANDAR" />
        <result property="DESCRIPCION" 			column="DESCRIPCION" />
        <result property="MARCA_ARTICULO" 		column="MARCA_PRODUCTO" />
        <result property="CANTIDAD" 			column="CANTIDAD" />
        <result property="PRECIO_UNITARIO"		column="PRECIO_UNITARIO" />
        <result property="PRECIO_UNITARIO_IGV"	column="PRECIO_UNITARIO_IGV" />   
        <result property="SUB_TOTAL" 			column="SUB_TOTAL" />
        <result property="SUBTOTAL_IGV"			column="SUB_TOTAL_IGV" />
    </resultMap>
    
    <resultMap id="ordenVentaDet" type="hashmap">
        <result property="COD_ARTICULO" 		column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 		column="COD_ESTANDAR" />
        <result property="DESCRIPCION" 			column="DESCRIPCION" />
        <result property="MARCA_ARTICULO" 		column="MARCA_PRODUCTO" />
        <result property="CANTIDAD" 			column="CANTIDAD" />
        <result property="PRECIO_UNITARIO"		column="PRECIO_UNITARIO" />
        <result property="PRECIO_UNITARIO_IGV"	column="PRECIO_UNITARIO_IGV" />   
        <result property="SUB_TOTAL" 			column="SUB_TOTAL" />
        <result property="SUBTOTAL_IGV"			column="SUB_TOTAL_IGV" />
    </resultMap>
    
    
    <resultMap id="repKardexDet" type="hashmap">
        <result property="FEC_REGISTRO" 	column="FEC_REGISTRO" />
        <result property="TIPO_OPERACION" 	column="TIPO_OPERACION" />
        <result property="TIPO_DOCUMENTO" 	column="TIPO_DOCUMENTO" />
        <result property="NRO_DOCUMENTO" 	column="NRO_DOCUMENTO" />
        <result property="ALMACEN" 			column="ALMACEN" />
        <result property="COD_ARTICULO"		column="COD_ARTICULO" />
        <result property="COD_ESTANDAR"		column="COD_ESTANDAR" />
        <result property="COD_ANTIGUO"		column="COD_ANTIGUO" />
        <result property="ARTICULO"			column="ARTICULO" />
        <result property="N_CANTIDAD"		column="N_CANTIDAD" />       
    </resultMap>
    
    <resultMap id="repInventarioDet" type="hashmap">
        <result property="ALMACEN" 			column="ALMACEN" />
        <result property="COD_ARTICULO" 	column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 	column="COD_ESTANDAR" />
        <result property="COD_ANTIGUO" 		column="COD_ANTIGUO" />
        <result property="ARTICULO" 		column="ARTICULO" />
        <result property="N_CANTIDAD" 		column="N_CANTIDAD" />
    </resultMap>
    
    <resultMap id="repVentaDet" type="hashmap">
        <result property="NRO_DOCUMENTO" 		column="NRO_DOCUMENTO" />
        <result property="NRO_DOCUMENTO_INTERNO" column="NRO_DOCUMENTO_INTERNO" />
        <result property="FEC_CONTABILIZACION" 	column="FEC_CONTABILIZACION" />
        <result property="ORDEN_VENTA" 			column="ORDEN_VENTA" />
        <result property="COD_CLIENTE" 			column="COD_CLIENTE" />
        <result property="NRO_DOC_CLIENTE"	 	column="NRO_DOC_CLIENTE" />
        <result property="NOMBRE_CLIENTE"		column="NOMBRE_CLIENTE" />
        <result property="VENDEDOR"				column="VENDEDOR" />        
        <result property="MONEDA"				column="MONEDA" />
        <result property="SUBTOTAL" 			column="SUBTOTAL" />
        <result property="IGV"					column="IGV" />
        <result property="TOTAL"				column="TOTAL" />
        <result property="ESTADO_PAGO"			column="ESTADO_PAGO" />
        <result property="ESTADO"				column="ESTADO" />
        <result property="FEC_REGISTRO" 		column="FEC_REGISTRO" />
    </resultMap>
    
    <resultMap id="repAnalisisVentaDet" type="hashmap">       
        <result property="COD_CLIENTE" 			column="COD_CLIENTE" />
        <result property="NRO_DOC_CLIENTE"	 	column="NRO_DOC_CLIENTE" />
        <result property="NOMBRE_CLIENTE"		column="NOMBRE_CLIENTE" />
        <result property="TIPO_DOC"				column="TIPO_DOC" />
        <result property="CANT_DOC"				column="CANT_DOC" />
        <result property="TOTAL_ML"				column="TOTAL_ML" />
        <result property="TOTAL_ME"				column="TOTAL_ME" />        
        <result property="COD_ARTICULO" 		column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 		column="COD_ESTANDAR" />
        <result property="COD_ANTIGUO" 			column="COD_ANTIGUO" />
        <result property="DESCRIPCION" 			column="DESCRIPCION" />
		<result property="CANT_ARTI"			column="CANT_ARTI" />
    </resultMap>
       
    
    <resultMap id="repAnuladosDet" type="hashmap">
    	<result property="FEC_ANULA" 			column="FEC_ANULA" />
    	<result property="USER_ANULA" 			column="USER_ANULA" />
        <result property="NRO_DOC_SISTEMA" 		column="NRO_DOC_SISTEMA" />
        <result property="FEC_CONTABILIZACION" 	column="FEC_CONTABILIZACION" />
        <result property="COD_SN" 				column="COD_SN" />
        <result property="NRO_DOC_SN" 			column="NRO_DOC_SN" />
        <result property="NOMBRE_SN"			column="NOMBRE_SN" />
        <result property="TIPO_DOC"				column="TIPO_DOC" />
        <result property="NRO_DOCUMENTO"		column="NRO_DOCUMENTO" />
        <result property="MONEDA"				column="MONEDA" />
        <result property="SUBTOTAL" 			column="SUBTOTAL" />
        <result property="IGV"					column="IGV" />
        <result property="TOTAL"				column="TOTAL" />
    </resultMap>
    
    <resultMap id="listaPrecioDet" type="hashmap">
        <result property="ID"						column="ID" />
        <result property="ID_LISTA_PRECIO" 			column="ID_LISTA_PRECIO" />
        <result property="COD_ARTICULO" 			column="COD_ARTICULO" />
        <result property="COD_ESTANDAR" 			column="COD_ESTANDAR" />
        <result property="COD_ANTIGUO" 				column="COD_ANTIGUO" />
        <result property="DESCRIPCION" 				column="DESCRIPCION" />
        <result property="DESC_MARCA_ARTICULO" 		column="DESC_MARCA_ARTICULO" />
        <result property="DESC_TIPO" 				column="DESC_TIPO" />
        <result property="DESC_SECCION" 			column="DESC_SECCION" />
        <result property="DESC_UND_MEDIDA" 			column="DESC_UND_MEDIDA" />     
        <result property="PRECIO" 					column="PRECIO" />
        <result property="PRECIO_REF" 				column="PRECIO_REF" />
       	<result property="ULT_PRECIO_COMPRA" 		column="ULT_PRECIO_COMPRA" />
        <result property="ACTIVO" 					column="ACTIVO" />
        <result property="FEC_REGISTRO" 			column="COD_USU_REGISTRA" />
        <result property="fechaRegistro" 			column="FEC_REGISTRO" />
        <result property="COD_USU_MODIFICA" 		column="COD_USU_MODIFICA" />
        <result property="FEC_MODIFICACION" 		column="FEC_MODIFICACION" /> 
    </resultMap>
    
    <!-- ********************* PARAMETERMAPS ********************* -->
    <parameterMap id="ventaParams" type="hashmap">
        <parameter property="NRO_DOCUMENTO"			jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="ordenCompraParams" type="hashmap">
        <parameter property="NRO_DOCUMENTO"       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap> 
    
    <parameterMap id="ordenVentaParams" type="hashmap">
        <parameter property="NRO_DOCUMENTO"       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap> 
    
    
    
    <parameterMap id="reporteComprasParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="DATO_BUSCAR"        	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteKardexParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="COD_ALMACEN"       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="DATO_BUSCAR"        	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteInventarioParams" type="hashmap">
        <parameter property="COD_ALMACEN"       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="DATO_BUSCAR"        	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteVentasParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="DATO_BUSCAR"        	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteAnalisisVentasClienteParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteAnalisisVentasArticuloParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="reporteDocumentosAnuladosParams" type="hashmap">
        <parameter property="FEC_INICIO"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FEC_FIN"       		jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="COD_TIPO"		       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <parameterMap id="buscarListaPrecioDetParams" type="hashmap">
        <parameter property="ID_LISTA_PRECIO"       jdbcType="INTEGER"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap> 
    
    
    <!-- ************************* QUERYS ******************************* -->
    <select id="obtenerCabeceraCotizacionVenta" parameterMap="ventaParams" resultMap="ventaCab" statementType="CALLABLE">
      {CALL SP_REP_CAB_COTIZACION_VENTA(?,?,?) }
    </select>
    
    <select id="obtenerDetalleCotizacionVenta" parameterMap="ventaParams" resultMap="ventaDet" statementType="CALLABLE">
      {CALL SP_REP_DET_COTIZACION_VENTA(?,?,?) }
    </select>
    
    <select id="obtenerCabeceraGuiaRemisionVenta" parameterMap="ventaParams" resultMap="grCab" statementType="CALLABLE">
      {CALL SP_REP_CAB_GUIA_REMISION_VENTA(?,?,?) }
    </select>
    
    <select id="obtenerDetalleGuiaRemisionVenta" parameterMap="ventaParams" resultMap="ventaDet" statementType="CALLABLE">
      {CALL SP_REP_DET_GUIA_REMISION_VENTA(?,?,?) }
    </select>
     
    <select id="obtenerDetalleOrdenVenta" parameterMap="ordenVentaParams" resultMap="ordenVentaDet" statementType="CALLABLE">
      {CALL SP_BUSCAR_ORDEN_VENTA_DET(?,?,?) }
    </select>
    
    <select id="obtenerCabeceraFacturaVenta" parameterMap="ventaParams" resultMap="facturaCab" statementType="CALLABLE">
      {CALL SP_REP_CAB_FACTURA_VENTA(?,?,?) }
    </select>
    
    <select id="obtenerDetalleFacturaVenta" parameterMap="ventaParams" resultMap="ventaDet" statementType="CALLABLE">
      {CALL SP_REP_DET_FACTURA_VENTA(?,?,?) }
    </select>
        
    <select id="obtenerDetalleOrdenCompra" parameterMap="ordenCompraParams" resultMap="ordenCompraDet" statementType="CALLABLE">
      {CALL SP_BUSCAR_ORDEN_COMPRA_DET(?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteCompras" parameterMap="reporteComprasParams" resultMap="repCompraDet" statementType="CALLABLE">
      {CALL SP_REPORTE_COMPRAS(?,?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteKardex" parameterMap="reporteKardexParams" resultMap="repKardexDet" statementType="CALLABLE">
      {CALL SP_REPORTE_KARDEX(?,?,?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteInventario" parameterMap="reporteInventarioParams" resultMap="repInventarioDet" statementType="CALLABLE">
      {CALL SP_REPORTE_INVENTARIO(?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteVentas" parameterMap="reporteVentasParams" resultMap="repVentaDet" statementType="CALLABLE">
      {CALL SP_REPORTE_VENTAS(?,?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteAnalisisVentasCliente" parameterMap="reporteAnalisisVentasClienteParams" resultMap="repAnalisisVentaDet" statementType="CALLABLE">
      {CALL SP_REPORTE_ANALISIS_VENTAS_CLIENTE(?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteAnalisisVentasArticulo" parameterMap="reporteAnalisisVentasArticuloParams" resultMap="repAnalisisVentaDet" statementType="CALLABLE">
      {CALL SP_REPORTE_ANALISIS_VENTAS_ARTICULO(?,?,?,?) }
    </select>
    
    <select id="obtenerDetalleReporteDocumentosAnulados" parameterMap="reporteDocumentosAnuladosParams" resultMap="repAnuladosDet" statementType="CALLABLE">
      {CALL SP_REPORTE_DOCUMENTOS_ANULADOS(?,?,?,?,?) }
    </select>
    
    <select id="plantillaListaPrecioDet" parameterMap="buscarListaPrecioDetParams" resultMap="listaPrecioDet" statementType="CALLABLE">
    	{CALL SP_BUSCAR_LISTA_PRECIO_DET(?,?,?) }
    </select>
        
</mapper>